body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2vw;
}

.box-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border: 6px black solid;
    height: 26vh;
}

.inner-box-1 {
    background-color: blueviolet;
    height: 16vh;
    width: 5vw;
    margin: 5px;
}

.inner-box-2 {
    background-color: green;
    height: 25vh;
    width: 38vw;
    margin: 5px;
    margin-left: 2vw;
}

.inner-circle-1 {
    background-color: lightblue;
    height: 220px;
    width: 220px;
    margin: 5px;
    margin-left: 4vw;
    border-radius: 50%;
}

.box-2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 6px black dotted;
    height: 26vh;
    margin-top: 3vh;
}

.yellow-box {
    background-color: lightgoldenrodyellow;
    height: 80%;
    width: 90%;
    margin: auto;
    box-shadow: 10px 10px 5px black;
}

.box-3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 2px lightgray solid;
    height: 30vh;
    width: 40%;
    margin: auto;
    margin-top: 3vh;
    box-shadow: 5px 5px 5px lightgrey;
}

.hello-friends {
    color: darkblue;
    margin: auto;
    text-align: center;
    font-size: 40px;
}